header
     .containerHead
        .logo
          span Text
        .nav
          ul.menu
            li.normal 
              a(href="#pizza") Пицца
            li.normal 
              a(href="#drinks") Напитки
            li.normal  
              a(href="#delivery") Доставка
            li.normal  
              a(href="#contacts") Контакты
        .shoppingBasket
          img(id="basket" src="../image/shoppingCart.png" alt="")
          div#counter
            p#count 0             