header
     .containerHead
        .logo
          span Text
        .nav
          ul.menu
            li 
              a(href="#pizza") Пицца
            li 
              a(href="#drinks") Напитки
            li 
              a(href="../delivery") Доставка
            li 
              a(href="../aboutus") О нас
            li 
              a(href="") Контакты
        .shoppingBasket
          img(id="basket" src="../image/shoppingCart.png" alt="")
          div#counter
            p#count 0             