.footer
 p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore a laboriosam porro illum quisquam beatae cumque maiores rerum, consequuntur vitae nemo asperiores iste nesciunt, reprehenderit expedita, similique est minima aliquam?