.modalWindow {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modalContent {
    position: absolute;
    z-index: 10;
    width: 900px;
    height: 800px;
    right: 140px;
    overflow-y: auto;
    background: rgb(255, 255, 255);
}
.boxButton {
    text-align: end;
    padding: 20px;
}
#closeButton {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    font-size: 30px;
}
.boxContent {
    background: rgb(255, 255, 255);
}

.cardOrder, .titleOrder {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2fr 1fr 1fr;
    padding: 10px;
}
.titleOrder {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2fr 1fr 1fr;
}

.titleOrder div {
    text-align: center;
}

.orderImg {
    width: 100px;
}

.boxName {
    text-align: center;
}
.quantityProduct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.btnAdd {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
}

.quantity {
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 220, 220);

}

.price, .summa {
    text-align: center;
}

.delete {
    text-align: center;
}

#deleteOrder {
    font-size: 20px;
    border: none;
    background: none;
}

.boxOrderPrice {
    /* border: 1px solid red; */
    text-align: center;
}

.boxOrderPrice p {
    display: inline-block;
    padding: 0 10px;
    /* border: 2px solid blue; */
    font-size: 20px;
}

.form {
    text-align: center;
}
fieldset {
    border: none;
    margin: 30px auto;
    width: 400px;
}
.infoClient label {
    font-size: 18px;
}
.infoClient input {
    width: 350px;
    height: 40px;
    background: none;
    border: 2px solid rgb(211, 211, 211);
}

.pay p {
    font-size: 20px;
    text-align: center;
}
.pay label {
    font-size: 18px;
    margin-left: 10px;
}

.list {
    list-style-type: none;
}
.list li {
    display: inline-block;
    margin: 10px 20px;
}

#send {
    width: 250px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 20px;
}

#send2 {
    width: 250px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 450px;
}

span {
    color: rgb(255, 0, 0);
    font-size: 14px;
}

.informationField{
    font-size: 14px;
    padding: 20px 0;
}