.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: rgb(0, 0, 0);
    margin-top: 50px;
    padding-bottom: 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);

}

h3 {
    margin-bottom: 20px;
}

.vacancies, .cooperation {
    margin: 10px 0;
    cursor: pointer;
}

.aboutus, .other {
    margin: 10px auto;
}

.address li {
    margin-left: 20px;
    list-style: none;
}

.email {
    margin: 10px 0;
}