*{
    margin: 0;
    padding: 0;
}

.containerHead {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background: rgb(0, 0, 0);
}
span {
    color: rgb(255, 255, 255);
}
.logo {
    font-size: 20px;
    /* border: 2px solid magenta; */
}
.nav {
    text-align: center;
    height: 60px;
}

.menu {
   font-size: 18px;   
}
.menu li {
    display: inline-block;
    list-style-type: none;
    margin: 20px 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.shoppingBasket {
    position: relative;
    text-align: center;
}

#basket {
    position: absolute;
    z-index: 2;
    width: 40px;
    margin-top: 10px;
}

#counter {
    position: absolute;
    z-index: 4;
    width: 50px;
    height: 30px;
    top: 30px;
    left: 130px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: start;
}

.boxMenuDrinks a {
    color: maroon;
}