.boxMenuPizza, .boxMenuDrinks {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    margin-top: 10px;
}
.card {
    border: 1px solid rgba(220, 220, 220, 0.5);
}
.nameDish {
    font-size: 23px;
    text-align: center;
}

.descriptionDish {
    text-align: center;
}
.weightDush {
    font-size: 20px;
    font-weight: 500;margin-left: 10px;
}
.priceDish {
    font-size: 20px;
    font-weight: bold;
    text-align: end;
    margin-right: 30px;

}

.boxImg {
    text-align: center;
}
.pizzaImg {
    width: 380px;
    height: 270px;
}

.drinkImg {
    height: 300px;
}

.quantityProduct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 10px 80px;
}

/* .quantityProduct div {
    border: 1px solid red;
} */

.btnAdd {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
}

.quantity {
    /* width: 40px;
    height: 30px; */
    /* margin: 0 10px; */
    font-size: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 220, 220);

}

.boxbtnAddBasket {
    text-align: center;
}
.btnAddBasket {
    width: 210px;
    height: 40px;
    margin: 10px 10px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 20px;
    font-size: 18px;
}