.boxMenuPizza, .boxMenuDrinks {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    margin-top: 10px;
}
.card {
    border: 1px solid rgba(220, 220, 220, 0.5);
}
.nameDish {
    font-size: 23px;
    text-align: center;
}

.descriptionDish {
    text-align: center;
}
.weightDush {
    font-size: 20px;
    font-weight: 500;margin-left: 10px;
}
.priceDish {
    font-size: 20px;
    font-weight: bold;
    text-align: end;
    margin-right: 30px;

}

.boxImg {
    text-align: center;
}
.pizzaImg {
    width: 380px;
    height: 270px;
}

.drinkImg {
    height: 300px;
}