doctype html
html(lang='ru')
     head
       title #{title}
       meta(charset='utf-8')
       meta(name="descroption", content=descroption)
       link(rel="stylesheet", href="/style/header.css")
       link(rel="stylesheet", href="/style/page.css")
       link(rel="stylesheet", href="/style/products.css")
       link(rel="stylesheet", href="/style/footer.css")
       script(src="https://code.jquery.com/jquery-1.12.4.js")

       block variables
     
  
     body
        div.wrapper
          include includes/headerFile/header
          block content
          block scripts
            script(src="../js/addProductsInBasket.js")                
          block footer   
            include includes/footer