include mixins/cardsPizza
include mixins/cardsDrinks
include mixins/modalBasket
include mixins/emptyBasket
include mixins/orderStatus

doctype html
html(lang='ru')
     head
       title #{title}
       meta(charset='utf-8')
       meta(name="descroption", content=descroption)
       link(rel="stylesheet", href="/style/header.css")
       link(rel="stylesheet", href="/style/page.css")
       link(rel="stylesheet", href="/style/products.css")
       link(rel="stylesheet", href="../style/basket.css")
       link(rel="stylesheet", href="../style/emptyBasket.css")
       link(rel="stylesheet", href="/style/orderStatus.css")
       link(rel="stylesheet", href="/style/footer.css")
       script(src="https://code.jquery.com/jquery-1.12.4.js")

       block variables
     
  
     body
        div.wrapper
          include includes/headerFile/header
          block content
          block scripts
            script(src="../js/addProductsInBasket.js")  
            script(src="../js/basket.js")  
            script(src="../js/validationInfoClient.js")   
            script(src="../js/form.js")      
            script(src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript")       
          block footer   
            include includes/footer