mixin Basket()
  .modalWindow
    .modalContent
      .boxButton
        button#closeButton &#10006;
      .boxContent
        .titleOrder
          div 
          div Наименование
          div Стоимость
          div Количество
          div Сумма
        .order
        .boxOrderPrice
          p.textElement Сумма заказа: 
          p.summaElement  
        .form
          form(action="")
            fieldset.infoClient
              label(for="") Имя 
              br
              input(type="text")
              br
              label(for="") Телефон
              br
              input(type="text")
              br
              label(for="") Адрес
              br
              input(type="text")
              br
              label(for="") Подъезд, этаж
              br
              input(type="text")    
            fieldset.pay  
              p Оплата:
              ul.list
                li
                  input(type="checkbox")
                  label(for="") Картой
                li  
                  input(type="checkbox")
                  label(for="") Наличными
            fieldset.notes  
                label(for="") Примечания к заказу
                br
                textarea(name="", cols="50", rows="10")
                br
                button(type="submit" id="send") Оформить заказ