mixin Basket()
  .modalWindow
    .modalContent
      .boxButton
        button#closeButton &#10006;
      .boxContent
        .titleOrder
          div 
          div Наименование
          div Стоимость
          div Количество
          div Сумма
        .order
        .boxOrderPrice
          p.textElement Сумма заказа: 
          p.summaElement  
          p.currency руб. 
        .form
          .infoClient
            label(for="") Имя 
            br
            input(type="text" name="name")
            br
            label(for="") Телефон 
            span *
            br
            input(type="phone" name="phone")
            br
            label(for="") Адрес
            span *
            br
            input(type="text" name="address")
            br
            label(for="") Подъезд, этаж
            br
            input(type="text" name="porch")    
          .pay  
            p Оплата
              span *
            ul.list
              li
                input(class="radio" type="radio" name="pay" value="Картой")
                label(for="") Картой
              li  
                input(class="radio" type="radio" name="pay" value="Наличными")
                label(for="") Наличными
          .notes  
            label(for="") Примечания к заказу
            br
            textarea(name="notes", cols="50", rows="10")
          .boxOrderPrice
            p.textElement Заказ на сумму: 
            p(class="summaElement orderPrice")
            p.currency руб. 
            br
            button(id="send") Оформить заказ  

          p.informationField Поля помеченные <span>*</span> обязательны к заполнению