mixin OrderStatus()
  .modalWindowOrderStatus
    .modalContentOrderStatus
      div(class="titleStatus")
        h2  Ваш заказ принят
      p(class="waiting") Крайнее время ожидания доставки заказа:
      p(class="time")
      .boxButtonOrderStatus
        button(id="btnOrderStatus") Ok