extends ../main.pug

block content
   form(action="/contact", method="post")  
    label firstname 
    br
    input(type="text", name="firstname") 
    br
    label surname
    br
    input(type="text", name="surname") 
    br
    label deliveryMethod
    br
    input(type="text", name="deliveryMethod") 
    br
    label paymentTerminal
    br
    input(type="text", name="paymentTerminal")  
    br
    br
    button(type="submit" class="btn") Create