extends ../main.pug

block content
  +Basket()
  +EmptyBasket() 
  +OrderStatus()
  .contentPizza#sectionPizza 
    h2.sectionName Пицца
    +Cards(pizza, "boxMenuPizza", "pizza", "pizzaImg", "Вес: ", "гр.", "btnAddBasket", "addBasket")  
  .contetnDrinks#sectionDrink 
    h2.sectionName Напитки
    +Cards(drink, "boxMenuDrinks", "drinks", "drinkImg", "Объем: ", "л.", "btnAddBasket")    
  .delivery#delivery
    .boxMenuDelivery
      h2.sectionName Доставка
      p Доставим ваш заказ к вам домой, на работу или в офис. Время доставки от 15 минут.  
      p При заказа на сумму от 1000 рублей доставка 
        strong бесплатная. 