footer
  .footer#contacts
    .aboutus   
      h3 О нас
      p Адреса кафе:
      ul.address 
        li Ленина, 16
        li Вишневая, 21Б
        li Волжская, 2
      p.email E-mail: pizzajoy@gmail.com  
    .other  
      h3 Разное
      p.vacancies Вакансии 
      p.cooperation Сотрудничество